# Fix Java GUI applications for tiling window managers
export _JAVA_AWT_WM_NONREPARENTING=1

export RANGER_LOAD_DEFAULT_RC=FALSE

export PATH=~/.cargo/bin:~/.docker/cli-plugins:~/.npm-global/bin:~/programs/LibreSprite/build/bin:$PATH

export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

export ZDOTDIR=$HOME/.config/zsh

export AWS_PROFILE=jupiterone-dev
export AWS_SDK_LOAD_CONFIG=1

